/* variable declarations */
:root {
    --blackish-text: #ffffff;
    --blackish: #262626;
    --button-border: 1px solid #aaaaaa;
    --button-border-radius: 0.25em;
    --button-font-size: 18px;
    --button-text: #000000;
    --button: #cccccc;
    --code-border: 1px #ffffff80 dashed;
    --code-font: smaller "Roboto Mono", monospace;
    --code-text: #ffffff;
    --code: #44444480;
    --footer-font: 200 small "Roboto Condensed", sans-serif;
    --grid-image: var( --square-grid-image );
    --grid-size: var( --square-grid-size );
    --grid-position: var( --square-grid-position );
    --radio-checked: 6px solid #3b99fa;
    --radio-diameter: 14px;
    --radio-space: 5px;
    --radio-unchecked: 1px solid #999999;
    --red-text: #ffffff;
    --red: #a30015;
    --white-inset: 0px 2px 1px white inset;
    --white-thick-shadow: 0px -2px 20px white;
    --white-thin-shadow: 0px -2px 8px white;
    --whitish-inset: 0px 1px 2px rgba(0, 0, 0, 0.5) inset;
    --whitish-thick-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    --whitish-thicker-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
    --whitish-thiner-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    --whitish-thin-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    font-family: Roboto, sans-serif;
    font-weight: lighter;
}

i.light {
    color: var( --code );
}
#menubar {
    background: var( --red );
    color: var( --red-text );
}

#game {
    background: #fff;
    border: var( --button-border );
}

#canvas {
    background-image: var( --grid-image );
    background-size: var( --grid-size );
    background-position: var( --grid-position );
}

#control {
    border: var( --button-border );
}
#control * {
    transition: box-shadow 0.5s;
}
#control > input {
    background-color: var( --button );
    border: var( --button-border );
    border-radius: var( --button-border-radius );
    box-shadow: var( --white-inset ), var( --white-thin-shadow ), var( --whitish-thiner-shadow ), var( --whitish-thin-shadow );
    color: var( --button-text );
    font-size: var( --button-font-size )!important;
    text-shadow: 0px 2px 0px #fff;
    outline: 0;
}

#control > input:hover {
    box-shadow: var( --white-inset ), var( --white-thin-shadow ), var( --whitish-thick-shadow ), var( --whitish-thicker-shadow );
    outline: 0;
}

#control > input:active {
    box-shadow: var( --whitish-inset ), var( --white-thick-shadow ), var( --whitish-thiner-shadow ), var( --whitish-thiner-shadow );
    background: linear-gradient(top, #d1d1d1 0%, #ececec 100%);
    outline: 0;
}

#control > label {
    white-space: nowrap!;
    position: relative;
    top: 6px;
}
#control > label input[type="checkbox"] {
    white-space: nowrap;
    position: relative;
    bottom: 8px;
}
#tiling input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: var( --radio-unchecked );
    border-radius: 50%;
    height: var( --radio-diameter );
    margin-right: var( --radio-space );
    outline: none;
    position: relative;
    top: 3px;
    transition: 0.25s all linear;
    width: var( --radio-diameter );
    white-space: nowrap;
}

#tiling input[type="radio"]:checked {
    border: var( --radio-checked );
}

#tiling {
    border: var( --button-border );
}

#sqr, #hex {
    font-weight: 500;
    font-size: 160%;
}
#tri {
    font-weight: 900;
    font-size: 120%;
}

#control > input:hover + span,
#control > label:hover {
    text-shadow: var( --whitish-thick-shadow ), var( --whitish-thicker-shadow );
    outline: 0;
}

#control > label input[type="radio"]:hover,
#control > label input[type="checkbox"]:hover {
    box-shadow: var( --whitish-thick-shadow ), var( --whitish-thicker-shadow );
    outline: 0;
}

#footer {
    background: var( --blackish );
    color: var( --blackish-text );
    font: var( --footer-font );
}

#footer code {
    border: var( --code-border );
    background-color: var( --code );
    color: var( --code-text );
    font: var( --code-font );
}
