/* variable declarations */
:root {
    --button-margin: 8px;
    --button-height: 1.5em;
    --button-width: 3.5em;
    --label-height: calc( var( --button-height ) + 1em );
    --label-width: calc( var( --button-width ) - 1em );
    --control-height: calc( var( --button-width ) * 4 + 2em );
    --menu-height: 3em;
    --min-margin: .5ex;
    --min-padding: 2px;
    --tiling-height: 2.55em;
    --tiling-margin: 4px;
    --tiling-padding: 8.5px;
    --tiling-shift: .95em;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    width: 100%;
}

body > * {
    flex: 1 1 var( --menu-height );
    width: 100%;
}

svg {
    /* height: 100%; */
    /* width: 100%; */
}

#board {
    overflow: hidden;
}

#canvas {
    position: absolute;
}

#control {
    display: block flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 1 1 var( --control-height );
    margin: var( --min-margin );
    min-height: var( --control-height );
    overflow: auto;
}

#control > input {
    flex: 0 1 0;
    margin: var( --button-margin );
    min-width: var( --button-width );
    max-height: var( --button-height );
}

#control > label {
    flex: 0 1 0;
    margin: var( --button-margin );
    min-width: var( --label-width );
    max-height: var( --label-height );
}

#footer {
    padding: var( --min-padding );
    margin-top: var( --min-margin );
    min-height: var( --menu-height );
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
}

#footer > div {
    flex: auto;
    justify-content: space-between;
    margin-left: var( --min-margin );
    margin-right: var( --min-margin );
    min-height: var( --menu-height );
    /* max-height: var( --menu-height ); */
    padding: var( --min-padding );
}

#game {
    flex: 1 1 calc( 100vmin - 3 * var( --menu-height ) );
    margin: var( --min-margin );
    min-height: calc( 100vh - 3 * var( --menu-height ) - var( --control-height ) );
    overflow: hidden;
    position: relative;
}

#main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: calc( 100vh - 3 * var( --menu-height ) );
}

#menubar {
    padding: var( --min-padding );
    margin-bottom: var( --min-margin );
    min-height: var( --menu-height );
}

#tiling {
    display:inline;
    max-height: var( --tiling-height );
    padding: var( --min-padding );
    padding-left: var( --tiling-padding );
    padding-right: var( --tiling-padding );
    position: relative;
    top: var( --tiling-shift );
}
#tiling > label {
    bottom: var( --tiling-shift );
    margin: var( --tiling-margin );
    position: relative;
}
