/* variable declarations */
:root {
    /*
    The 3 grids used to delineate cells are the only regular polygon tessalations of the plane.
    In their normal form, they all use cells that are 10px in height. When scaling them, the
    stroke width must be scaled down proportionally.
    To make the grid transparent or change its color, change the svg stroke color.
    *
    */
    --center-top-left: calc( ( 1 + var( --neighborhood-range ) ) * 100% / ( 2 * var( --neighborhood-range ) + 3 ) + var( --pattern-stroke ) );
    --grid-fill: url(#hexagon-pattern);
    --neighborhood-range: 1;
    --neighborhood-side: calc( ( 2 * var( --neighborhood-range ) + 3 ) * 10px * var( --pattern-scale ) + var( --pattern-stroke ) );
    --pattern-color: #e0e0e0;
    --pattern-scale: .75;
    --pattern-stroke: calc( 1px / var( --pattern-scale ) );
    --trail-color: #bfffbf;
}

/* .square-cell {
    height: calc( 10px * var( --pattern-scale ) - var( --pattern-stroke ) );
    width: calc( 10px * var( --pattern-scale ) - var( --pattern-stroke ) );
} */

#grid-background, #position-background {
    fill: var( --grid-fill );
    stroke: none;
}

#grid-geometry {
    fill: url(#square-pattern);
    stroke: var( --pattern-color );
    height: calc( 50px * var( --pattern-scale ) + var( --pattern-stroke ) );
    width: calc( 50px * var( --pattern-scale ) + var( --pattern-stroke ) );
}

#grid-neighborhood {
    background-color: var( --trail-color );
}

#grid-neighborhood, #position-watch, #position-canvas {
    height: var( --neighborhood-side );
    width: var( --neighborhood-side );
}

#hexagon-pattern, #square-pattern, #triangle-pattern {
    transform: scale( var( --pattern-scale ) );
    stroke-width: var( --pattern-stroke );
    stroke: var( --pattern-color );
    stroke-opacity: calc( 0.25 + 3 * var( --pattern-scale ) / 4 );
}

#neighborhood-canvas {
    height: var( --neighborhood-side );
    width: var( --neighborhood-side );
}

#neighborhood-viz {
    fill: url(#square-pattern);
    stroke: var( --pattern-color );
}

#universe > svg {
    padding: 0;
    height: calc( 50px * var( --pattern-scale ) + var( --pattern-stroke ) );
    width: calc( 50px * var( --pattern-scale ) + var( --pattern-stroke ) );
}
